table, th, td {
    border:1px solid black;
}

.login,.account{
    margin-left:50px;
}

.form_login{
    margin-left:120px;
}

.first-section{
    margin-left:140px;
}

.field{
    padding:20px;
}

.payment {
    background-color: lightgrey;
    width: 700px;
    border: 5px solid black;
    padding: 20px;
    height: 550px;
}

.control_exp{
    width:200px;
}

.control_exp_cvv{
    width:150px;
}

.field_ {
    column-count: 2;
    padding:20px;
}

.div1{
    width:30%;
    float:left;
}

.div2{
    width:50%;
    float:right;
}

.top_indent {
    position: relative;
    top: 15px;
}

.large_font_support {
    font-size:100px;
    height:50px;
}





  