<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    </head>
    <body>
        <p th:inline="text"> 

            The customer's username was [[${customer.username}]].<br />     
            The customer's password was [[${customer.password}]].<br />     
            The customer's first name was [[${customer.firstName}]].<br />     
            The customer's last name was [[${customer.lastName}]].<br />     
            The customer's street address was [[${customer.address}]].<br />     
            The customer's state was [[${customer.state}]].<br />     
            The customer's zip code was [[${customer.zipCode}]].<br /> 
            The customer's phone number  was [[${customer.phoneNumber}]].<br /> 


            The customer's credit card  was [[${customer.cardNumber}]].<br /> 
            The customer's credit card expiration date  was [[${customer.expirationDate}]].<br /> 
            The customer's credit card cvv code  was [[${customer.cvv}]].<br /> 
            The customer's credit card cardholder name  was [[${customer.cardholderName}]].<br /> 

        <script src=""async defer>

        </script>
    </body>
</html>

