<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<script src="script.js" async defer></script>
    </head>
    <body>

        <!-- title -->
        <nav class = "level">
	<!--	<p class="level-item has-text-centered">	LOGO IMAGE????
				<img src=" alt="" style="height: 30px;">
			</p> -->
			<p class ="level-item has-text-centered">
					<h1 class="title"> DePaul's Deluxe Rentals</h1>
			</p>
			<p class="level-item has-text-centered">
				<button class="button is-link" th:onclick= "|window.location.href='/homeLoggedIn'|">Home</button>
			</p>
			<p class="level-item has-text-centered">
				<button class="button is-link" th:onclick= "|window.location.href='/home'|">Logout</button>
			</p>
		</nav>	
        
        <!-- Body --> 
		<!-- 1 Create Reservation --> 		
		<section class="hero is-link"> <!-- is-link makes the color a purpleish color-->
			<div class="hero-body">
				<p class="title">Reservations</p>
				<p class="subtitle">Find a flexible car rental that fits your needs!</p>
				<button class="button is-primary" th:onclick= "|window.location.href='/ReservationSearch'|">Create Reservation</button>
			</div>
		</section>
		
		<!-- 1.5 View Reservation --> 		
		<section class="hero is-light"> <!-- is-link makes the color a purpleish color-->
			<div class="hero-body">
				<p class="title">Reservation History</p>
				<p class="subtitle">View all past, present and upcoming reservations</p>
				<button class="button is-primary" th:onclick= "|window.location.href='/reservationList'|">My Reservations</button>
			</div>
		</section>
		
		<!-- 2 View Dealerships -->
		<section class="hero"> <!-- -->
			<div class="hero-body">
				<p class="title">Dealerships</p>
				<!-- <figure class="image is-4by3">	Dealership Img????
				<img src=" alt="">
				</figure> -->
				<p class="subtitle">View all our locations, nationwide!</p>
				<button class="button is-primary">View Dealerships</button>
			</div>
		</section>
		<!-- 3 View Cars --> 
		<section class="hero"> <!-- -->
			<div class="hero-body">
				<p class="title">Cars</p>
				<!-- <figure class="image is-4by3">	Car Img????
				<img src=" alt="">
				</figure> -->
				<p class="subtitle">See our wide selection of luxurious cars available for rent.</p>
				<button class="button is-primary">View Cars</button>
			</div>
		</section>
		<!-- 4 Log In / Create Account -->
		<footer class="footer">
		  <nav class = "level">
			<p class="level-item has-text-centered">
				 <!-- <button class="button is-link" th:onclick= "|window.location.href='/home'|">View My Reservations</button> -->
			</p>
			<p class="level-item has-text-centered">
				<!-- <button class="button is-link" th:onclick= "|window.location.href='/home'|">Create Reservation</button> -->
			</p>
		</nav>	
		</footer>
    </div>
    </body>
</html>