<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script src="script.js" async defer></script>
    </head>
    <body>

    <section class="section">
        <div class="first-section">
            <h1 class="title"> DePaul's Deluxe Rentals</h1>
        </div>
    </section>

    <div class="login" >
        <h1 class="title"> Login:</h1>
    </div>

    <div class="form_login column is-4 px-6">
        <form class="form" id="loginForm" action="" th:action = "@{/loginVerification}" th:object="${loginFields}" onsubmit="return validateLogin()" method="post">

        <div class="field pb-6">
                <label class="label">Username</label>
            <div class="control">
                <input class="input" id="username" type="text" th:field="*{username}" placeholder="Enter Username">
            </div>
            <p class = "errorMessageUser top-arrow" > </p>
        </div> 

        <div class="field pb-6 ">
            <label class="label">Password</label>
        <div class="control">
            <input class="input" id="password" type="text" th:field="*{password}" placeholder="Enter Password">
        </div>
        <p class = "errorMessagePw top-arrow" > </p>
    </div> 
    
      <div class="buttons is-grouped is-3 px-6 ml-6">
        <div class="control pr-4">
          <button class="button is-link is-medium">Go</button>
        </div>

        <div class="control">
          <button class="button is-link is-light is-medium " th:onclick= "|window.location.href='/accountCreate'|">Create Account </button>
        </div>
      </div>
      </form>
      </div>
    </div>
    </body>
</html>