<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script src="script.js" async defer> </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h6 class="has-text-centered" ><strong>Depaul Deluxe Car Rentals</strong></h6>
        <h6 class="has-text-centered" ><strong>Reservation Results</strong></h6>
            
     
        <div class="level-right">
            <div class="buttons">
                <p class="level-item has-text-right">
                    <!-- <button class="button is-link" th:onclick= "|window.location.href='/ReservationSearch'|">Back to Search</button> -->
                </p>
            </div>
        </div>


        <section class="hero is-light"> <!-- is-link makes the color a purpleish color-->
            <div class="hero-body">
                <form class="form" id="reservationSearchResults" action="" th:action="@{/reservationSearchCar}" th:object="${reservationDTO}" onsubmit="return createReservationDealerships()" method="post">
                <p class="title">Dealerships:</p>
                <!-- <button class="button is-link" th:onclick= "|window.location.href='/home'|">Create Reservation</button> (ADD??) -->
                <p class="subtitle"><br></p>
                <div class="control">
                    <label class ="radio">
                <table class="table">
                    <thread>
                        <tr>
                            <th><abbr title="Id">Id</abbr></th>
                            <th><abbr title="Address">Address</abbr></th>
                            <th><abbr title="State">Address</abbr></th>
                            <th><abbr title="Zip Code">Zip Code</abbr></th>
                            <th><abbr title="Available Cars">Available Cars</abbr></th>
                            <th><abbr title="Select">Select</abbr></th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="dealership : ${dealerships}">
                        <td th:text="${dealership.getDealershipId()}"/>
                        <td th:text="${dealership.getAddress()}"/>
                        <td th:text="${dealership.getState()}"/>
                        <td th:text="${dealership.getZipCode()}"/>
                        <td th:text="${dealership.getCars().size()}"/>
                        <!--  <td><input type="radio" name="select" th:value="${dealership.getDealershipId()}" onclick="onClickDealership()"></input></td>  Send dealership id of selected dealership?-->
                    </tr>
                    </tbody>
                </table>
                    </label>
                </div>
                    <div class="box">
                    <div class="control">
                        <input class="input" id="id" type="text" th:field="*{selectedDealershipId}" placeholder="Enter a Dealership ID To Continue"> <!-- -->
                        <p class = "errorMessageNoDealership top-arrow" > </p>
                        <p><br></p>
                        <button class="button is-link">Select This Dealership</button>
                    </div>
                    </div>
                </form>
            </div>
        </section>


          
        
        <script src="" async defer></script>
    </body>
</html>