<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>

        <!-- title -->
        <nav class = "level">
	<!--	<p class="level-item has-text-centered">	LOGO IMAGE????
				<img src=" alt="" style="height: 30px;">
			</p> -->
			<p class ="level-item has-text-centered">
					<h1 class="title"> DePaul's Deluxe Rentals</h1>
			</p>
			<p class="level-item has-text-centered">
				<button class="button is-link" th:onclick= "|window.location.href='/homeLoggedInEmp'|">Home</button>
			</p>
			<p class="level-item has-text-centered">
				<button class="button is-link" th:onclick= "|window.location.href='/home'|">Logout</button>
			</p>
		</nav>	
        
        <!-- Body --> 
		<!-- 1 Upcoming Reservations --> 		
		<section class="hero is-light"> <!-- is-link makes the color a purpleish color-->
			<div class="hero-body">
				<p class="title">Active Reservations:</p>
				<p class="subtitle"> </p>
				<!-- table info: https://bulma.io/documentation/elements/table/ -->
				<!-- Manually Entered Example: -->
				<!-- NOTE: nice to have - narrow by dealership or location??? -->
				<table class="table">
					<thread>
						<tr>
							<th><abbr title="Reservation">Reservation</abbr></th>
							<th><abbr title="Start Date">Start Date</abbr></th>
							<th><abbr title="End Date">End Date</abbr></th>
							<th><abbr title="Reservation Creation Date">Reserved On</abbr></th>
							<th><abbr title="Customer ID">Customer ID</abbr></th>
							<th><abbr title="Car ID">Car ID</abbr></th>
						</tr>
					</thread>
					<tbody>
						<tr th:each="reservation : ${reservations}">
							<td th:text="${reservation.getReservationId()}"/>
							<td th:text="${reservation.getStartDate()}"/>
							<td th:text="${reservation.getEndDate()}"/>
							<td th:text="${reservation.getReservationDate()}"/>
							<td th:text="${reservation.getCustomer().getCustomerId}"/>
							<td th:text="${reservation.getCar().getCarId}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</section>



        <script src="script.js" async defer></script>
    </body>
</html>