<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="script.js" async defer> </script>
</head>
<body>

<!-- title -->
<section class="section">
    <div class="first-section">
        <h1 class="title"> DePaul's Deluxe Rentals</h1>
    </div>
</section>

<!--Car Return Resylts -->
<section class="hero">
   <form class="form" id="returnCarResults" action="" th:action= "@{/returnCarComplete}" th:object="${fees}"  method="post" > <!--  -->
    <div class="hero-body" >
        <p class="title"> Car Return</p>
        <!-- <p class="subtitle" id="reservationId" th:object="${rcf}" th:text="*{rentalId}"></p>  or th:value="${rcf.rentalId}"? -->
        <p class="subtitle" id="rid" th:field="*{rentalId}"></p>
        <p class="subtitle" >Rental Cost: </p>
        <p class="h2" id="rf" th:field="*{rentalFee}"></p>
        <p class="subtitle"  >Late Fee: </p>
        <p class="h2" id="lf" th:field="*{lateFee}"></p>
        <p class="subtitle" >Gas Fill-Up Fee: </p>
        <p class="h2" id="gf" th:field="*{gasFee}"></p>
        <p class="subtitle" >Damaged Extras Fee: </p>
        <p class="subtitle" id="ef" th:field="*{extrasFee}"></p>
        <p class="subtitle" >Car Damages Fee: </p>
        <p class="subtitle" id="df" th:field="*{damageFee}"><br></p>
        <p class="subtitle" >Total Cost Fee: </p>
        <p class="subtitle" id="tf"  th:field="*{totalFee}"></p>
                <button class="button is-primary" th:onclick= "|window.location.href='/homeLoggedInEmp'|">Confirm Return</button>
            </div>
        </form> <!-- -->
</section>
</body>
</html>