<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="script.js" async defer> </script>
</head>
<body>

<!-- title -->
<section class="section">
    <div class="first-section">
        <h1 class="title"> DePaul's Deluxe Rentals</h1>
    </div>
</section>

<!--Car Return Resylts -->
<section class="hero">
  <!-- <form class="form" id="returnCarResults" action="" th:action= "@{/returnCarComplete}" th:object="${fees}"  method="post" >   -->
    <div class="hero-body" >
        <p class="title"> Car Return</p>
        <!-- <p class="subtitle" id="reservationId" th:object="${rcf}" th:text="*{rentalId}"></p>  or th:value="${rcf.rentalId}"? -->
        <nav class ="level-left">
            <p class="level-item">
                <a class="subtitle" >Rental ID:</a>
            </p>
            <p class="level-item">
                <a class="subtitle" id="rid" th:text="*{fees.getRentalId()}"></a>
            </p>
        </nav>
        <p><br></p>
        <nav class ="level-left">
            <p class="level-item">
                <a class="subtitle" ><strong>Rental Cost: </strong></a>
            </p>
            <p class="level-item">
                <a class="subtitle" id="rf" th:text="*{fees.getRentalFee()}"></a>
            </p>
        </nav>
            <nav class ="level-left">
                <p class="level-item">
                    <a class="subtitle"  ><strong>Late Fee: </strong></a>
                </p>
                <p class="level-item">
                    <a class="subtitle" id="lf" th:text="*{fees.getLateFee()}"></a>
                </p>
            </nav>
        <nav class ="level-left">
                <p class="level-item">
                    <a class="subtitle" ><strong>Gas Fill-Up Fee: </strong></a>
                </p>
                <p class="level-item">
                    <a class="subtitle" id="gf" th:text="*{fees.getGasFee()}"></a>
                </p>
            </nav>
        <nav class ="level-left">
            <p class="level-item">
                <a class="subtitle" ><strong>Damaged Extras Fee:</strong> </a>
            </p>
            <p class="level-item">
                <a class="subtitle" id="ef" th:text="*{fees.getExtrasFee()}"></a>
            </p>
        </nav>
        <nav class ="level-left">
            <p class="level-item">
                <a class="subtitle" ><strong>Car Damages Fee:</strong> </a>
            </p>
            <p class="level-item">
                <a class="subtitle" id="df" th:text="*{fees.getDamageFee()}"></a>
            </p>
        </nav>
        <p><br></p>
        <nav class ="level-left">
            <p class="level-item">
                <a class="subtitle" ><strong>Total Cost Fee: </strong></a>
            </p>
            <p class="level-item">
                 <a class="subtitle" id="tf"  th:text="*{fees.getTotalFee()}"></a>
            </p>
        </nav>
        <p><br></p>
                 <button class="button is-primary" th:onclick= "|window.location.href='/homeLoggedInEmp'|">Confirm Return</button>
             </div>
    <!--  </form>  -->
</section>
</body>
</html>