<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="script.js" async defer> </script>
</head>
<body>

<!-- title -->
<section class="section">
    <div class="first-section">
        <h1 class="title"> DePaul's Deluxe Rentals</h1>
    </div>
</section>

<!--Car Return Search Bar -->
<section class="hero">
    <div class="hero-body" >
        <p class="title"> Car Return</p>
        <p class="subtitle" id="reservationId" th:text="*{rcf.getRentalId()}"></p>
        <p class="subtitle" text = "Rental Cost: "></p>
        <p class="heading" id="rentalFee" th:text="*{rcf.getRentalFee()}"></p>
        <p class="subtitle" text = "Late Fee Cost: "></p>
        <p class="heading" id="lateFee" th:text="*{rcf.getLateFee()}"></p>
        <p class="subtitle" text = "Gas Cost: "></p>
        <p class="heading" id="gasFee" th:text="*{rcf.getGasFee()}"></p>
        <p class="subtitle" text = "Extras Damage Cost: "></p>
        <p class="heading" id="extrasFee" th:text="*{rcf.getExtrasFee()}"></p>
        <p class="subtitle" text = "Car Damages Cost: "></p>
        <p class="heading" id="damageFee" th:text="*{rcf.getDamageFee()}"><br></p>
        <p class="subtitle" text = "Total Cost: "></p>
        <p class="heading" id="totalFee" th:text="*{rcf.getTotalFee()}"></p>
                <button class="button is-primary" th:onclick= "|window.location.href='/homeLoggedInEmp'|">Confirm Return</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>